* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100%;
  font-family: 'Lato', sans-serif;
  background-color: white;
  color: black;
  font-size: 1.1em;
}

li {
  float: right;
  display: inline;
}

li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

nav {
  position: fixed;
  color: white;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background-color: black;
}

ul {
  padding-right: 15px;
  margin: 0;
}

.nav-logo {
  margin: 10px;
  font-size: 24px;
}

a {
  color: white;
  text-decoration: none;
  padding: 10px 10px;
  margin: 0;

}

li a:hover {
  background-color: dodgerblue;
  color: white;
}

h1 {
  font-size: 54px;
  text-align: center;
  color: dodgerblue;
  border-bottom: 1px solid dodgerblue;
  padding-bottom: 25px;
}

img.backgroundImage {
  width: inherit;
  height: 90%;
}

.hero {
  background: url("https://farm66.static.flickr.com/65535/48303092941_a2274c98a6_b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.hero-panel {
  padding: 120px 40px 0px 40px;
  margin-bottom: 200px;
  margin-top: 160px;
  flex-grow: 1;
}

.hero-panel h1, h2 {
  color: white;
  border-bottom: none;
  font-weight: bolder;
}

.hero {
  height: 115vh;
  width: 100%;
}

.container {
  width: 80vw;
  margin: auto;
}

.columns {
  display: flex;
  flex-direction: row;
}

.column {
  width: 50%;
}

#about {
  font-family: 'Permanent Marker', cursive;
}

p {
  font-family: 'Lato', cursive;
}

.about {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  text-align: center;
  padding-top: 35px;
}

a {
  flex-grow: 1;
}

.section-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Permanent Marker', cursive;
}

.project {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 150px;
}

img {
  display: inline-flex;
  padding-top: 16px;
}

.project-links {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.project a:hover {
  background-color: coral;
  color: white;
}

.project a {
  color: dodgerblue;
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
  width: 150px;
  margin: 3px 6px 3px 0;
  text-align: center;
}

#skills {
  font-family: 'Permanent Marker', cursive;
  padding-top: 58px;
}

#skills ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 20px;
  margin: 90px;
  justify-content: space-between;
}

#contact {
  background-color: coral;
  font-family: 'Permanent Marker', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact h2, #contact a, #contact p, #contact ul {
  color: white;
  text-align: center;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

#contact a {
  display: inline-block;
  padding: 6px 10px;
  margin: 6px 27px;
  text-align: center;
  font-size: 33px;
}

#contact .contact-list {
  width: 260px;
}

#contact .contact-list a {
  box-sizing: border-box;
  width: 100%;
  margin: 0px;
}

#contact .contact-list .contact-list_inline {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#contact .contact-list .contact-list_inline li {
  width: 45%;
}

#contact a:hover {
  background-color: dodgerblue;
}

#contact li {
  display: inline-block;
}

.devicon-html5-plain-wordmark {
  font-size: 4.5rem;
  padding: 40px;
}

.devicon-css3-plain-wordmark {
  font-size: 4.5rem;
  padding: 40px;
}

.devicon-javascript-plain {
  font-size: 4.5rem;
  padding: 40px;
}

.devicon-jquery-plain-wordmark {
  font-size: 4.5rem;
  padding: 40px;
}

.devicon-python-plain-wordmark {
  font-size: 4.5rem;
  padding: 40px;
}

.devicon-react-original-wordmark {
  font-size: 4.5rem;
  padding: 40px;
}

.devicon-webpack-plain-wordmark {
  font-size: 8rem;
  padding: 40px;
}

.devicon-sass-plain {
  font-size: 4.5rem;
  padding: 40px;
}

.devicon-express-original-wordmark {
  font-size: 6rem;
  padding: 40px;
}

.devicon-nodejs-plain-wordmark {
  font-size: 6rem;
  padding: 40px;
}

.devicon-mongodb-plain-wordmark {
  font-size: 4.5rem;
  padding: 40px;
}

.devicon-postgresql-plain-wordmark {
  font-size: 4.5rem;
  padding: 40px;
}

.devicon-heroku-plain-wordmark {
  font-size: 4.5rem;
  padding: 40px;
}

.devicon-github-plain-wordmark {
  font-size: 4.5rem;
  padding: 40px;
}

.devicon-mocha-plain {
  font-size: 4.5rem;
  padding: 40px;
}

.devicon-trello-plain-wordmark {
  font-size: 6rem;
  padding: 40px;
}

.devicon-atom-original {
  font-size: 5rem;
  padding: 40px;
}

.bulma {
  padding-top: 46px;
  padding: 40px;
}

.flask {
  padding-top: 46px;
  padding: 40px;
}

.container h2, #contact h2 {
  color: dodgerblue;
  text-align: center;
  border-bottom: 1px solid dodgerblue;
  font-size: 54px;
}

#contact h2 {
  font-family: 'Permanent Marker', cursive;
}

h3.projectTitle {
  color: coral;
  text-decoration: underline;
  font-family: 'Lato', cursive;
  font-size: 25px;
}

.contact-info {
  display: flex;
  padding-bottom: 50px;
}

@media all and (max-width: 1199px) {

}
@media all and (max-width: 991px) {
  .container {
    width: 90vw;
  }

  .project {
      margin-bottom: 100px;
    }
  }
}
@media all and (max-width: 768px) {
  h1 {
    font-size: 54px;
  }

  #contact a {
    display: block;
    padding: 6px 10px;
    margin: 6px 27px;
    text-align: center;
    font-size: 23px;
  }
}
@media all and (max-width: 575px) {

  .contact-info {
    display: block;
    padding: 0;
}

.devicon-sass-plain {
  font-size: 5.5rem;
  padding: 0;
  padding-right: 39px;
}

  .section-skills .container {
    display: contents;
  }

  .devicon-webpack-plain-wordmark {
    font-size: 10rem;
    padding: 0;
}

  .flask, .bulma {
    padding: 0;
  }

  .columns {
    display: block;
  }

  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project {
      margin-bottom: 60px;
    }
  }

@media all and (max-width: 400px) {

  #skills ul {
    padding: 0;
    margin: 0;
    justify-content: center;
  }

  #contact h2 {
    font-size: 30px;
  }

  #contact a {
    font-size: medium;
  }

  .contact-info {
    display: block;
    padding: 0;
}

  .devicon-sass-plain {
    font-size: 5.5rem;
    padding: 0;
    padding-right: 39px;
  }

  .section-skills .container {
    display: contents;
  }

  .devicon-webpack-plain-wordmark {
    font-size: 10rem;
    padding: 0;
}

  .flask, .bulma {
    padding: 40px;
  }

  .columns {
    display: block;
  }

  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project {
      margin-bottom: 60px;
    }

  #menu {
    padding-left: 0;
  }

  #menu li a {
      font-weight: 500;
  }

  ul#menu li {
    font-size: small;
  }

  ul#menu {
    padding-right: 0;
  }

  .hero-panel h2 {
    text-align: center;
    font-size: 30;
    font-weight: bolder;
  }
}

a:hover {
  background-color: dodgerblue;
}

.section-skills h1 {
  padding-top: 90px;
}

#portfolio h1{
  padding-top: 50px;
}

.hero-panel h1 {
    position: relative;
    -webkit-animation-name: title-animation;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-name: name;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes name {
  from {
    top: 100.5rem;}
  to {
    top: 0;}
}

.hero-panel h1 {
  animation-name: name;
  animation-duration: 2s;
}

.hero-panel h2 {
  position: relative;
  -webkit-animation-name: job;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-name: job;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes job {
  from {
    right: 90.5rem;}
  to {
    right: 0;}
}

.hero-panel h2 {
  animation-name: job;
  animation-duration: 3s;
}
